# ============================================================
# OMG - RetroArch core options
# ============================================================

# ------------------------------------------------------------
# MAME 2003-Plus
# ------------------------------------------------------------

mame2003-plus_skip_disclaimer = "enabled"
mame2003-plus_skip_warnings = "enabled"
